<button
  type="button"
  class="image {{if this.isLarge "large"}}"
  {{ on "click" this.toggleSize }}
>
  <img ...attributes>
  <small>
    {{!-- {{#if this.isLarge}}
      View Smaller
    {{else}}
      View Larger
    {{/if}} --}}

    {{!-- if [condition] [value if true] [value if false] --> like ternary? --}}
    View {{if this.isLarge "Smaller" "Larger"}}
  </small>
</button>